
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Salsa&display=swap');

@font-face {
  font-family: 'Geomanist';
  src: url('./assets/Geomanist-Regular.ttf');
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.nav {
  display: grid;
  max-width: 100vw;
  grid-template-columns: 1fr 3fr 1fr 1fr 1fr;
  background-color: black;
  color: rgb(4, 87, 182);
  font-family: 'Oswald', sans-serif;
  
}
.logo {
  max-width: 5rem;
}
.nav-icon {
  max-width: 2rem;
}
.search, .profile,  .help, .cart, .btn{
  display: flex;
  align-items: center;
  margin: 0 10px;
  
  color: #027499;
  text-transform: uppercase;
  font-family: 'Geomanist', sans-serif;
}
.search {
  justify-content: space-between;
}
.input {
  display: flex;
  background-color: white;
  width: 100%;
  
}
input {
  border: none;
  width: 100%;
}
.nav-btn {  
  padding: 8px 20px;
  margin: 10px;
  border: none;
  color: #D1F4FB;
  text-transform: uppercase;
  font-family: 'Oswald', sans-serif;
  background-color: #027499;

}
.nav-icon {
  padding: 4px;
  
}
.main-body {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;

}
.main-body > * {
  padding: 20px;
  
}
h1 {
  font-size: 1.3rem;
}
.carousel-control-next, .carousel-control-prev {
  background: none;
  border: none;
}
.btn {
  background: none;
  border: none;
  font-size: 1.3rem;
}
.btn:hover {
  background: none;
}

